html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}



div.img {
  float: left;
  display: inline-block;
}

.game-name  {
  position: absolute;
  top: -35px;
  left: 570px;
  font-size: 40px;
  color: white;
  pointer: cursor;
}

#remark {
  font-size: 20px;
  position: absolute;
  top: 28px;
  left: 570px;
  color: purple;
}


.header {
  height: 80px;
  width: 100%;
  background-color: #35D461;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 500px 1fr;
  justify-self: center;
}

.left-side {
  width: 100%;
  background-color: #882FF6;


}

form {
  border: 3px solid #F9E104;
  width: 300px;
  height: 475px;
  margin-left: 80px;
  margin-top: 230px;
  padding: 20px 40px 20px 40px;
  background-color: #37B6F6;
  
}

ul {
  width: 100%;
  text-docoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  
  
}

li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
 
}

#stats {
  height: 50px;
  width: 100px;
  box-sizing: border-box;
  font-size: 18px;
  position: absolute;
  right: 180px;
  top: 17px;
  background-color: #F99D07;
  color: #e40078;
  padding: 0px 5px;
  border: 2px solid #FFAA33;
  border-radius: 25px;
  cursor: pointer;
  background-image: linear-gradient(#F99D07, #FFAA33,  
  #F99D07);
  display: inline-block;
  font-weight: 500;
  outline: none;
  -webkit-user-select: none;
  transition: all .15s;
  touch-action: manipulation;
}

#stats:hover {
  background-image: linear-gradient(#F99D07, #FFC300,  
  #F99D07);
  box-shadow: 0 -3px 4px #FFCA00 inset, inset 0 3px 4px 
  #FFCA00;
  transform: scale(1.125);
}

#stats:active {
  transform: scale(1.025);
}

.player-welcome {
  text-align: center;
  color: #F9E104;
}

.banner {
  height: 520px;
  width: 100%;
  background-color: #882FF6;
  background-image: url('./Content/math1.jpg');
  background-repeat: no-repeat;
  background-size: 60% 80%;
  image-rendering: -webkit-optimize-contrast;
  background-position: center top;
  padding: 0;
  margin: 0;
}

.right-side {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #882FF6;
  display: block;
  text-align: center;
}

.showPlayers, .showCharts, .showPercent {
  display: block;
  height: 40px;
  width: 130px;
  border: none;
  background-color: #35D461;
  color: white;
  border-radius: 15px;
  padding: 0;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.ans {
  padding: 0;
  display: inline;
  color: blue;
  font-size: 18px;
  background-color: yellow;
  margin-left: -100px;
  margin-right: 30px;
}

#answerInput {
  font-size: 30px;
  height: 80px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

#isCorrect {
  background-color: lightblue;
  font-size: 18px;
}

.play-game {
  display: block;
  height: 40px;
  width: 130px;
  border: none;
  background-color: #35D461;
  color: white;
  border-radius: 15px;
  padding: 0;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.play-game {
  position: relative;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.play-game:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation-name: glowing-button;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.play-game:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #35D461;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#endButton {
  display: block;
  height: 40px;
  width: 130px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 15px;
  padding: 0;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

#playArea {
  width: 60%;
  height: 260px;
  background-color: orange;
  border: 1px solid black;
  margin: 0 auto;
}

#showallplayers {
  width: 80%;
  height: 400px;
  background-color: #fffdd0;
  border: 1px solid black;
}

#chartArea {
  width: 80%;
  height: 400px;
  background-color: lightblue;
  border: 1px solid black;
  margin: 0 auto;
}

.charts {
  width: 100%;
  height: 500px;
}

#showpercentage {
  width: 80%;
  height: 400px;
  background-color: white;
  border: 1px solid black;
}
.calc {
  display: block;
  width: 100%;
  height: 200px;
  position: absolute;
  background-image: url('./Content/Two times two.png');
  background-size: 130px 75px;
  background-repeat: no-repeat;
  top: 300px;
  left: 200px;
}

.registration {
  font-size: 30px;
  color: #35D461;
  text-align: center;
}

.registerButton {
  font-size: 15px;
  width: 90px;
  height: 30px;
  background-color: #35D461;
  background-image: linear-gradient(#35D461, white, #35D461); 
  cursor: pointer;
  display: inline-block;
}

#registrationNextButton {
  font-size: 15px;
  width: 90px;
  height: 30px;
  background-color: #35D461;
  cursor: pointer;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
html, body {
  width: 100vw;
}

.header {
  display: block;
  height: 80px;
  width: 100%;
  background-color: #35D461;
  padding: 0;
  margin: 0;
}

.game-name  {
  display: none;
  position: absolute;
  top: -35px;
  left: 570px;
  font-size: 40px;
  color: white;
  pointer: cursor;
}

#remark {
  display: none;
  font-size: 20px;
  position: absolute;
  top: 28px;
  left: 570px;
  color: purple;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
  justify-self: center;
}

form {
  margin-left:auto;
  margin-right: auto;
  margin-top: 230px;
  
}

.calc {
  left: 150px;
}
#answerInput {
  width: 70%;
}

.ans {
  margin-left: 20px;
  
}

#stats {
  right: 65px;
}

.loading-frame {
  right: 10px;
}

}

.loading-frame {
  position: absolute;
  left: 395px;
  top: 919px;
  display: inline-block;
} 
.circle {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: #3FC380;
  animation: animate linear 2s infinite;
}
.circle:nth-child(1) {
  animation-delay: 0.9s;
}
.circle:nth-child(2) {
  animation-delay: 1.1s;
  transform: translate(18px, 13px);
}
.circle:nth-child(3) {
  animation-delay: 1.3s;
  transform: translate(35px, 25px);
}
.circle:nth-child(4) {
  animation-delay: 1.1s;
  transform: translate(18px, 38px);
}
.circle:nth-child(5) {
  animation-delay: 0.9s;
  transform: translate(0px, 50px);
}
.circle:nth-child(6) {
  animation-delay: 0.9s;
  transform: translate(0, 25px);
}
.circle:nth-child(7) {
  animation-delay: 0.7s;
  transform: translate(-20px, 25px);
}
.circle:nth-child(8) {
  animation-delay: 0.5s;
  transform: translate(-40px, 25px);
}
.circle:nth-child(9) {
  animation-delay: 0.3s;
  transform: translate(-60px, 25px);
}
.circle:nth-child(10) {
  animation-delay: 0.1s;
  transform: translate(-80px, 25px);
}
@keyframes animate {
  0%,
  100% {
    background-color: #3FC380;
  }
  50% {
    background-color: #fff;
  }
}
}
